<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta content="IE=Edge" http-equiv="X-UA-Compatible">
{% if page.id %}
<meta property="og:description" content="{{page.excerpt | strip_html }}">
<meta name="description" content="{{page.excerpt |  strip_html }}">
{% else %}
<meta property="og:description" content="{{post.excerpt | strip_html }}">
<meta name="description" content="{{post.excerpt |  strip_html }}">
{% endif %}

<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<link rel="shortcut icon" href="/static/img/icon.png">
<link rel="canonical" href="{{site.url}}{{page.url}}">

<link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" rel="stylesheet" type="text/css">

<!-- smoosh -->
<link href="../css/master.min.css" rel="stylesheet" type="text/css">
<!-- endsmoosh -->

<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<script async src="https://cdn.ampproject.org/v0.js"></script>

{% include head_boilerplate.html %}