{
  "rules": {
    "no-undef": "error",
    "no-trailing-spaces": "error",
    "comma-dangle": "error",
    "indent": ["error", 4],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "space-in-parens": ["error", "never", { "exceptions": ["{}"] }]
  },
  "globals": {
    "$": true,
    "require": true,
    "window": true,
    "console": true
  }
}
