<section class="blade blog">

  <div class="container wider">
    <div class="row">
      <div class="twelve columns">
        <h1>Data</h1>
	<h2>Compare data collected from 3 flights launched from the same location in Damiansville, IL in April 2015, May 2016, and June 2016 for HAB_0, HAB_2, and HAB_3, respectively. </h2>
      </div>
    </div>

    <div style="background-color: white; padding: 20px; margin: 10px;">
        {% include hab4.js.html %}
    </div>
    <div class="tab-container">
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == "DataScience" %}
        {% if post.thumb != null %}
        <a class="tab" href="{{ post.url }}" style="background-image: url('{{ post.thumb }}');">
        {% else %}
        <a class="tab" href="{{ post.url }}" style="background-image: url('https://twitter.com/balloonedu/profile_image?size=bigger');">
        {% endif %}
          <h3>{{ post.title }}</h3>
          <div class="subtitle"><!--{% if post.author != null %}<strong>{{ post.author }}</strong> - {% endif %}-->{{ post.date  | date: "%-d %B %Y" }}</div>
          {% if post.abstract != null %}
          <div class="abstract">{{ post.abstract }}</div>
          {% endif %}
        </a>
        {% endif %}
        {% endfor %}
        {% endfor %}
  </div>
</section>


