<section class="blade description">
  <div class="container">
    <div class="row">
      <div class="twelve columns">

		<h1>Help us accomplish our mission</h1>


		<p>Arch Reactor is a 501c3 Educational Non-Profit Organization. Check out <a href="https://archreactor.org/about">Arch Reactor website</a> to learn more.</p>

		<!--<p>To help support HAB.education at Arch Reactor financially:</p>-->

		<div class="fullsize-button"><a class="button go-button" href="https://paypal.me/dustinmayfieldjones/" target="_blank">Donate to HAB.education at Arch Reactor</a></div>

      </div>
    </div>
  </div>
</section>