<section class="blade description">
  <div class="container">
    <div class="row">
      <div class="twelve columns">

		<h1>About HAB.education</h1>


		<p>HAB.education advocate science, technology, art, engineering and mathematics (STEAM) education through fun high altitude balloon lessons in Missouri, Illinois and surrounding Midwestern regions. We originated from <a href="https://archreactor.org/about">Arch Reactor</a>, a 501c3 Educational Non-Profit Organization. Help us accomplish our mission by making a donation.</p>

		<!--<p>To help support HAB.education at Arch Reactor financially:</p>-->

		<div class="fullsize-button"><a class="button go-button" href="https://paypal.me/dustinmayfieldjones/" target="_blank">Donate to HAB.education at Arch Reactor</a></div>

      </div>
    </div>
  </div>
</section>