
<style type="text/css">
  body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
</style>
<script src="{{base}}/js/hab.js"></script>
<script src="{{base}}/js/jquery.js"></script>

<p>First launch</p>

<select id="var1">
</select>
<select id="var2">
</select>
<label for="var3">Animate?</label>
<input type="checkbox" id="var3" />

<div id="arbitrary"></div>

<p>Second launch</p>

<select id="var1_2">
</select>
<select id="var2_2">
</select>
<label for="var3_2">Animate?</label>
<input type="checkbox" id="var3_2" />

<div id="arbitrary2"></div>

<div id="version"></div>

<script>
$(function() {
    setup_graph("#arbitrary", "#var1", "#var2", "#var3", "/data/balloon.json");
    setup_graph("#arbitrary2", "#var1_2", "#var2_2", "#var3_2", "/data/balloon2.json");
    setup_version("#version");
});

</script>

