
<style type="text/css">
  body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
</style>
<script src="{{base}}/js/hab2.js"></script>
<script src="{{base}}/js/jquery.js"></script>

Height of flight1 vs flight2
<div id="arbitrary"></div>
Flight path of flight1 vs flight2
<div id="arbitrary2"></div>
<div id="version"></div>

<script>
$(function() {
    var x = { field: 'timestamp_fixed', type: 'quantitative' };
    var y = { field: 'altitude_ft', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'ordinal' };
    plotGraph('#arbitrary', '/data/balloon3.csv', x, y, c);

    var x = { field: 'lat', type: 'quantitative', scale: { zero: false } };
    var y = { field: 'lng', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'ordinal' };
    plotGraph('#arbitrary2', '/data/balloon3.csv', x, y, c);
    setupVersion("#version");
});
</script>
