
<style type="text/css">
  body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
</style>
<script src="{{base}}/js/hab.js"></script>
<script src="{{base}}/js/jquery.js"></script>

<label for="var">Animate?</label>
<input type="checkbox" id="var" />
<br />
Altitude of flights
<div id="arbitrary"></div>
Flight paths lat vs lng
<div id="arbitrary2"></div>
Altitude vs pressure for each flight
<div id="arbitrary3"></div>
Altitude vs ozone for each flight
<div id="arbitrary4"></div>
<div id="version"></div>

<script>
function plotGraphs(animate) {
    var x = { field: 'timestamp_offset', type: 'quantitative', scale: { zero: true } };
    var y = { field: 'altitude_ft', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary', '/data/balloon5.csv', x, y, c, animate);

    var x = { field: 'lng', type: 'quantitative', scale: { zero: false } };
    var y = { field: 'lat', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary2', '/data/balloon5.csv', x, y, c, animate);


    var x = { field: 'pressure', type: 'quantitative', scale: { zero: false } };
    var y = { field: 'altitude_ft', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary3', '/data/balloon5.csv', x, y, c, animate);

    var x = { field: 'oxid_gas', type: 'quantitative', scale: { zero: false } };
    var y = { field: 'altitude_ft', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary4', '/data/balloon5.csv', x, y, c, animate);
    setupVersion("#version");
}

$("#var").click(function() {
    plotGraphs($("#var").prop('checked'));
});

$(function() {
    plotGraphs($("#var").prop('checked'));
});

</script>
