
<style type="text/css">
  body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
</style>
<script src="{{base}}/js/hab.js"></script>
<script src="{{base}}/js/jquery.js"></script>

Altitude of flights
<div id="arbitrary"></div>
Flight paths lat vs lng
<div id="arbitrary2"></div>
Altitude vs pressure for each flight
<div id="arbitrary3"></div>
Altitude vs ozone for each flight
<div id="arbitrary4"></div>
<div id="version"></div>

<script>
$(function() {
    var x = { field: 'timestamp_offset', type: 'quantitative', scale: { zero: true } };
    var y = { field: 'altitude_ft', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary', '/data/balloon4.csv', x, y, c);

    var x = { field: 'lng', type: 'quantitative', scale: { zero: false } };
    var y = { field: 'lat', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary2', '/data/balloon4.csv', x, y, c);


    var x = { field: 'pressure', type: 'quantitative', scale: { zero: false } };
    var y = { field: 'altitude_ft', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary3', '/data/balloon4.csv', x, y, c);

    var x = { field: 'oxid_gas', type: 'quantitative', scale: { zero: false } };
    var y = { field: 'altitude_ft', type: 'quantitative', scale: { zero: false } };
    var c = { field: 'cat', type: 'nominal' };
    plotGraph('#arbitrary4', '/data/balloon4.csv', x, y, c);
    setupVersion("#version");
});
</script>
