
<!-- Hero header -->
<section class="hero promo">
  <div class="container">
    <div class="inside black-bg">
      <h2>High Altitude Balloons make STEAM fun!</h2>
      <p><a class="go-button" href="/pages/haba.html">Launch Assistance Program - Click Here!</a></p>
    <amp-carousel width="480"
      height="270"
      layout="responsive"
      type="slides"
      autoplay
      delay="3000"
      class="black-bg">
    <amp-img src="/images/cs_0.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_5.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_3.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_2.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_1.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_7.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_8.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_4.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
    <amp-img src="/images/cs_6.jpg"
        width="480"
        height="270"
        layout="responsive"
        alt=""></amp-img>
</amp-carousel>

<div class="blck">
          <h3>Teaching STEAM is hard. We help you make it fun, affordable, and inspiring.</h3>
          <p>
          <a on="tap:my-lightbox" class="go-button watch-video" role="button">Watch our film</a>
          </p>
          <amp-lightbox id="my-lightbox" layout="nodisplay" on="tap:my-lightbox.close" role="button" tabindex="1">

            <div class="lightbox">

              <amp-youtube
                data-videoid="yxnkzYBgNDQ"
                layout="responsive"
                width="480" height="270">
              </amp-youtube>

              <div class="close-button" on="tap:my-lightbox.close" role="button" tabindex="1"></div>
            </div>
          </amp-lightbox>
</div>
    </div>
  </div>
</section>
<!-- Hero header -->


