
<!-- Hero header -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="intro-container">
          <h1>Teaching STEAM is hard. We help you make it fun, affordable, and inspiring.</h1>
          <p class="intro desktop-only">HAB.education launches high altitude balloons (HABs) into nearspace to bolster the STEAM community.<br />HABs are successfully used in classrooms globally to engage student learning. We hope to build that community, and HAB.education follows and reports on high altitude ballooning for scientific and educational aims.</p>
          <p class="intro mobile-only">HAB.education launches high altitude balloons (HABs) into nearspace to bolster the STEAM community.</p>



          <a on="tap:my-lightbox" class="watch-video" role="button">Watch our film</a>

          <amp-lightbox id="my-lightbox" layout="nodisplay" on="tap:my-lightbox.close" role="button" tabindex="1">

            <div class="lightbox">

              <amp-youtube
                data-videoid="yxnkzYBgNDQ"
                layout="responsive"
                width="480" height="270">
              </amp-youtube>

              <div class="close-button" on="tap:my-lightbox.close" role="button" tabindex="1"></div>
            </div>
          </amp-lightbox>




        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero header -->


