<section class="blade blog">

  <div class="container wider">
    <div class="row">
      <div class="twelve columns">
        <h1>Interviews with scientists using HABs</h1>
      </div>
    </div>

    <div class="tab-container">
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == "Interviews" %}
        {% if post.thumb != null %}
        <a class="tab" href="{{ post.url }}" style="background-image: url('{{ post.thumb }}');">
        {% else %}
        <a class="tab" href="{{ post.url }}" style="background-image: url('https://twitter.com/balloonedu/profile_image?size=bigger');">
        {% endif %}
          <h3>{{ post.title }}</h3>
          <div class="subtitle"><!--{% if post.author != null %}<strong>{{ post.author }}</strong> - {% endif %}-->{{ post.date  | date: "%-d %B %Y" }}</div>
          {% if post.abstract != null %}
          <div class="abstract">{{ post.abstract }}</div>
          {% endif %}
        </a>
        {% endif %}
        {% endfor %}
        {% endfor %}
  </div>
</section>


