<section class="blade blog">

  <div class="container wider">
    <div class="row">
      <div class="twelve columns">
        <h1>Interviews with scientists using HABs</h1>
      </div>
    </div>

    <div class="tab-container">
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == "Interviews" %}
        <a class="tab" href="{{ post.url }}">
          <h3>{{ post.title }}</h3>
          {% if post.thumb != null %}
          <amp-img class="postimg" src="{{ post.thumb }}" alt="Post picture" height="128" width="128" /></amp-img>
          {% else %}
          <amp-img class="postimg" src="/static/img/icon.png" alt="Post picture" height="128" width="128" /></amp-img>
          {% endif %}
          <div class="subtitle"><!--{% if post.author != null %}<strong>{{ post.author }}</strong> - {% endif %}-->{{ post.date  | date: "%-d %B %Y" }}</div>
          {% if post.abstract != null %}
          <div class="abstract">{{ post.abstract }}</div>
          {% endif %}
          <div class="clear"></div>
        </a>
        {% endif %}
        {% endfor %}
        {% endfor %}
  </div>
</section>


