
<!-- Hero header -->
<section class="promo">
  <div class="container">
    <div class="inside white-bg">
      <h2>Attend ISDC 2017!</h2>
      <a href="http://isdc.nss.org/2017/" target="_blank">  
        <amp-img
            src="/images/ISDC.jpg"
            srcset="/images/ISDC-mobile.jpg 460w"
            width="1920"
            height="786"
            layout="responsive"
            alt="Meet me in St Louis Space Event">
        </amp-img>
      </a>
      <h4>We're co-sponsoring the International Space Development Conference 2017 in St. Louis.</h4>
    </div>
  </div>
</section>
<!-- Hero header -->


