


<section class="blade get-started">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Get Started</h1>
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="image">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/dustin_edu.jpg">
          </amp-img>
          <span class="title">Learn about a launch</span>
        </div>
        <div class="content">
          <p>If you are not familiar with a launch, check out what you can do with this example.</p>
        </div>
        <div class="action">
          <a href="http://ccgiscoop.maps.arcgis.com/apps/MapJournal/index.html?appid=91fe748015b24b23b883f5b66e3ded96"target="_blank">Learn about HAB_0</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/dustinhuan_edu.jpg">
          </amp-img>
          <span class="title">Educators</span>
        </div>
        <div class="content">
          <p>Are you a teacher? Here are some ideas and resources that you can use in your classroom.</p>
        </div>
        <div class="action">
          <a href="/pages/lessons.html">Get Started</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/dustin_edu.jpg">
          </amp-img>
          <span class="title">Get involved</span>
        </div>
        <div class="content">
          <p>Contact us directly, or join us. We are a club of scientists, educators, and programmers.</p>
        </div>
        <div class="action">
          <a href="https://www.facebook.com/groups/habgroup/" target="_blank">Join our conversation</a>
        </div>
      </div>
    </div>

  </div>
</section>