


<section class="blade get-started">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Get Started</h1>
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="image">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/dustin_edu.jpg">
          </amp-img>
          <span class="title">Learn about a launch</span>
        </div>
        <div class="content">
          <p>If you are not familiar with a launch, learn about a launch by watching the journey of HAB_0, from taking off to landing.</p>
        </div>
        <div class="action">
          <a href="http://ccgiscoop.maps.arcgis.com/apps/MapJournal/index.html?appid=91fe748015b24b23b883f5b66e3ded96"target="_blank">Learn about HAB_0</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/dustinhuan_edu.jpg">
          </amp-img>
          <span class="title">Educators</span>
        </div>
        <div class="content">
          <p>Are you a teacher?<br />Learn what you can teach and inspire your kids by using our modular lessons.</p>
        </div>
        <div class="action">
          <a href="/pages/lessons.html">Get Started</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/talk.jpg">
          </amp-img>
          <span class="title">Get involved</span>
        </div>
        <div class="content">
          <p>We have a very active and friendly community on Facebook. If you our your children/students have something to share, join in!</p>
        </div>
        <div class="action">
          <a href="https://www.facebook.com/groups/habgroup/" target="_blank">Join our conversation</a>
        </div>
      </div>
    </div>

  </div>
</section>