<!-- Menu begins -->
<header class="fixed">
  <div class="wrap">
    <div class="container">
      <div class="clearfix">
        <div class="right alt">
            {% for link in site.data.navigation %}
            {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = site.url %}
            {% endif %}
            <a class="tab" href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
            {% endfor %}
          
            
          </a>

        </div>
        <div class="left-nav">
            <a href="/" class="tab header-title">
              {{ site.title }}
            </a>
          </div>
      </div>
    </div>
  </div>
</header>
<!-- Menu ends -->