
<script src="{{base}}/js/jquery.js">
<script src="{{base}}/src/highcharts/highcharts.js">

<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->
<div id="container-a" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->
<pre id="tsv" style="display:none">Browser Version	Total Market Share
balloon helium	18%
balloon latex	12%
parachute	6%
sensordrone	14%
gopro camera	14%
gopro battery	9%
trackuino electronics	6%
trackuino pcb	1%
trackuino gps	7%
trackuino antennae	2%
trackuino battery	4%
trackuino transmitter	7%
</pre>
<script> 
$(function () {

    Highcharts.data({
        csv: document.getElementById('tsv').innerHTML,
        itemDelimiter: '\t',
        parsed: function (columns) {

            var brands = {},
                brandsData = [],
                versions = {},
                drilldownSeries = [];

            // Parse percentage strings
            columns[1] = $.map(columns[1], function (value) {
                if (value.indexOf('%') === value.length - 1) {
                    value = parseFloat(value);
                }
                return value;
            });

            $.each(columns[0], function (i, name) {
                var brand,
                    version;

                if (i > 0) {

                    // Remove special edition notes
                    name = name.split(' -')[0];

                    // Split into brand and version
                    //version = name.match(/([0-9]+[a-z]*)/);
                    version = name.match(/(\s[a-z]*)/);
                    if (version) {
                        version = version[0];
                    }
                    brand = name.replace(version, '');

                    // Create the main data
                    if (!brands[brand]) {
                        brands[brand] = columns[1][i];
                    } else {
                        brands[brand] += columns[1][i];
                    }

                    // Create the version data
                    if (version !== null) {
                        if (!versions[brand]) {
                            versions[brand] = [];
                        }
                        versions[brand].push([version, columns[1][i]]);
                    }
                }

            });

            $.each(brands, function (name, y) {
                brandsData.push({
                    name: name,
                    y: y,
                    drilldown: versions[name] ? name : null
                });
            });
            $.each(versions, function (key, value) {
                drilldownSeries.push({
                    name: key,
                    id: key,
                    data: value
                });
            });

            // Create the chart
            chart = new Highcharts.Chart({
                chart: {
                    type: 'pie',
                    renderTo: 'container-a'
                },
                title: {
                    text: 'Item breakdown by percentage of total project cost'
                },
                subtitle: {
                    text: 'Click the slices for more. No, really. Please click them.'
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total project cost<br/>'
                },

                series: [{
                    name: 'Item',
                    colorByPoint: true,
                    data: brandsData
                }],
                drilldown: {
                    series: drilldownSeries
                }
            });
        }
    });
});
</script>

<div class="spacer"></div>

<div id="container-b" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<!--<div id="container-b" style="height: 400px"></div>-->

<script>
$(function () {
   chart = new Highcharts.Chart({
        chart: {
        	renderTo: 'container-b',
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45
            }
        },
        title: {
            text: 'HAB_0 cost breakdown in US dollar'
        },
        subtitle: {
            text: ''
        },
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45
            }
        },
        series: [{
            name: 'Cost',
            data: [
                ['balloon (latex/helium)', 215],
                ['parachute', 45],
                ['sensordrone', 100],
                ['gopro', 170],
                ['trackuino', 200],
                
            ]
        }]
    });
    alert("test");
});
</script>
