
<section class="blade blog">

  <div class="container wider">
    <div class="row">
      <div class="twelve columns">
        <h1>Blog posts</h1>
      </div>
    </div>

    <div class="tab-container">
        {% assign counter=0 %}
        {% for post in site.posts %}
            {% unless post.tags contains "Discussion" %}
                {% if counter < limitposts %}
                {% include post_bit.html %}
                {% endif %}
                {% assign counter=counter | plus:1 %}
            {% endunless %}
        {% endfor %}
  </div>
  <div>
        {% if limitposts < 10 %}
        <a href="/pages/archive.html">VIEW MORE &gt;&gt;</a>
        {% endif %}
  </div>
</section>


