
<section class="blade blog">

  <div class="container wider">
    <div class="row">
      <div class="twelve columns">
        <h1>Blog posts</h1>
      </div>
    </div>

    <div class="tab-container">
        {% assign counter=0 %}
        {% for post in site.posts %}
            {% unless post.tags contains "Discussion" %}
                {% if counter < limitposts %}
                <a class="tab" href="{{ post.url }}">
                {% if post.thumb != null %}
                <amp-img class="postimg" src="{{ post.thumb }}" alt="Post picture" height="64" width="64" /></amp-img>
                {% else %}
                <amp-img class="postimg" src="/static/img/icon.png" alt="Post picture" height="64" width="64" /></amp-img>
                {% endif %}
                  <h3>{{ post.title }}</h3>
                  <div class="subtitle">{{ post.date  | date: "%-d %B %Y" }}</div>
                </a>
                {% endif %}
                {% assign counter=counter | plus:1 %}
            {% endunless %}
        {% endfor %}
  </div>
  <div>
        {% if limitposts < 10 %}
        <a href="/pages/archive.html">VIEW MORE &gt;&gt;</a>
        {% endif %}
  </div>
</section>


