
<section class="blade blog">

  <div class="container wider">
    <div class="row">
      <div class="twelve columns">
        <h1>Blog posts</h1>
      </div>
    </div>

    <div class="tab-container">
        {% for post in site.posts limit:limitposts %}
            {% unless post.tags contains "ruby" %}
                {% if post.thumb != null %}
                <a class="tab" href="{{ post.url }}" style="background-image: url('{{ post.thumb }}');">
                {% else %}
                <a class="tab" href="{{ post.url }}" style="background-image: url('https://twitter.com/balloonedu/profile_image?size=bigger');">
                {% endif %}
                  <h3>{{ post.title }}</h3>
                  <div class="subtitle">{{ post.date  | date: "%-d %B %Y" }}</div>
                </a>
            {% endunless %}
        {% endfor %}
  </div>
  <div>
        {% if limitposts < 10 %}
        <a href="/pages/archive.html">VIEW MORE &gt;&gt;</a>
        {% endif %}
  </div>
</section>


