

<section class="blade get-started">
  <div class="container">
    <div class="card-container">
      <div class="card">
        <div class="image">
          <a href="http://ccgiscoop.maps.arcgis.com/apps/MapJournal/index.html?appid=91fe748015b24b23b883f5b66e3ded96"target="_blank">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/group_hab0.jpg">
          </amp-img>
          <span class="title">Example Launch</span>
          </a>
        </div>
        <div class="content">
          <p>If you are not familiar with a launch, check this out!</p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <a href="/pages/education.html">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/classroom.jpg">
          </amp-img>
          <span class="title">Educators</span>
          </a>
        </div>
        <div class="content">
          <p>Some ideas and resources that you can use in your classroom.</p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <a href="https://www.facebook.com/groups/habgroup/" target="_blank">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/group_hab0.jpg">
          </amp-img>
          <span class="title">Get Involved</span>
          </a>
        </div>
        <div class="content">
          <p>We are a club of fun scientists, educators, and programmers.</p>
        </div>
      </div>
    </div>

  </div>



  <div class="container">
    <div class="card-container">
      <div class="card">
        <div class="image">
          <a href="/pages/haba.html">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/dustin_edu.jpg">
          </amp-img>
          <span class="title">Launch Assistance</span>
          </a>
        </div>
        <div class="content">
          <p>Need help launching your first high-altitude balloon?</p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <a href="/pages/track.html">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/balloontracker.png">
          </amp-img>
          <span class="title">Balloon Trackers</span>
          </a>
        </div>
        <div class="content">
          <p><strong>For launches only</strong>: Where are our balloons now?</p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <a href="/pages/trackuino.html">
          <amp-img
              noloading
              height=190
              width=297
              layout=responsive
              src="/static/img/trackuino.jpg">
          </amp-img>
          <span class="title">Build Your Tracker</span>
          </a>
        </div>
        <div class="content">
          <p>Learn how to build your Trackuino tracker.</p>
        </div>
      </div>
    </div>

  </div>



</section>
