<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <button class="col-xs-3 btn btn-secondary">
        <a href="{{base}}/pages/about.html">About us</a>
      </button>
      <button class="col-xs-3 btn btn-secondary">
        <a href="{{base}}/pages/lessons.html">Lessons</a>
      </button>
      <button class="col-xs-3 btn btn-secondary">
        <a href="{{base}}/pages/calendar.html">Events</a>
      </button>
      <button class="col-xs-3 btn btn-secondary">
        <a href="{{base}}/pages/launch.html">Launch</a>
      </button>
      </div>
    </div>
  </div>
</section>
