<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      
      <a class="btn btn-primary" href="{{base}}/pages/about.html" role="button">About us</a>
      <a class="btn btn-primary" href="{{base}}/pages/lessons.html" role="button">Lessons</a>
      <a class="btn btn-primary" href="{{base}}/pages/calendar.html" role="button">Events</a>
      <a class="btn btn-primary" href="{{base}}/pages/launch.html" role="button">Launches</a>
      </button>
      </div>
    </div>
  </div>
</section>
